<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{vehicle.make}} {{vehicle.model}} at Kenyon's Auto</title>

</head>
<body class="">
    <h1 class="text-lg">
        {{vehicle.make}} {{vehicle.model}} at Kenyon's Auto 
            </h1>
   {{vehicle.year}}
   {{vehicle.price}}
   {{vehicle.mileage}}
   {{vehicle.color}}
   {{vehicle.vin}}
   {{vehicle.description}}
</body>
</html>